.vscode/settings.json
Assessments/3800A2.pdf
Assessments/3800A2graphs.pdf
Assessments/101118836-Ass2.pdf
Assessments/101118836-Ass3.pdf
Assessments/A2graphs.docx
Assessments/math3800Notes-sol.pdf
Code/__init__.py
Code/3507.ipynb
Code/dynamic_syst.py
Code/Full notes.ipynb
Code/__pycache__/__init__.cpython-39.pyc
Code/__pycache__/integrate.cpython-39.pyc
Code/__pycache__/one_term_models.cpython-39.pyc
Code/__pycache__/roots.cpython-39.pyc
Code/__pycache__/smoothing.cpython-39.pyc
testing/__pycache__/test_matrix_computations.cpython-39.pyc
testing/__pycache__/test_integrals.cpython-39.pyc
Code/__pycache__/Randomnum.cpython-39.pyc
Code/__pycache__/matrix_computations.cpython-39.pyc
testing/__pycache__/test_roots.cpython-39.pyc
testing/__pycache__/test_numerical_approximations.cpython-39.pyc
testing/__pycache__/test_smoothing.cpython-39.pyc
Code/__pycache__/dynamic_syst.cpython-39.pyc
